{% extends "./base.html" %}

{% block title %} Carreras {% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h2> Carreras</h2>
    <div class="card">
        <div class="card-body">
            <form action="{% url 'registrarCarrera' %}" method="POST">{% csrf_token %}
            <div class="form-group">
                <input type="text" name="txtCodigo" class="form-control" placeholder="Código" required>
            </div>    
            <div class="form-group">
                <input type="text" name="txtNombre" class="form-control" placeholder="Nombre Carrera" required>
            </div> 
            <div class="form-group">
            <input type="number" name="numDuracion" class="form-control" placeholder="Duración" required>
            </div> 
            
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-block text-white" > Guardar</button>
            </div>
            </form>
            
        </div>

    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Carreras </h1>
     <div class="table-responsive py-2">
         <table class="table table-striped">
             <thead>
                 <tr>
                     <th>Código</th>
                     <th>Nombre Carrera</th>
                     <th>Duración </th>
                     <th colspan="2">Opciones</th>
                 </tr>
             </thead>
             <tbody>
                 {% for c in carreras %}
                 <tr>
                     <td>{{c.codigo}}</td>
                     <td>{{c.nombre}}</td>
                     <td>{{c.duracion}}</td>
                    
                     <td><a href="{% url 'edicionCarrera' c.codigo %}" class="btn btn-info">Editar</a></td>
                     <td><a href="{% url 'eliminarCarrera' c.codigo %}" class="btn btn-danger">Eliminar</a></td>
                 </tr>
                 {% endfor %}
             </tbody>
         </table>

     </div>
    </div>

</div>
{% endblock %}