{% extends "./base.html" %}

{% block title %} Estudiantes {% endblock %}

{% block body %}

{% if not respuesta %}

<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <h1>Listado de Estudiantes </h1>
 <div class="table-responsive py-2">
     <table class="table table-striped">
         <thead>
             <tr>
                 
                 <th>Apellido Paterno</th>
                 <th>Apellido Materno</th>
                 <th>Nombres</th>
                 
             </tr>
         </thead>
         {% if estudiantes%}
         <tbody>
             {% for e in estudiantes %}
             <tr>
            
                 <td>{{e.apellidoPaterno}}</td>
                 <td>{{e.apellidoMaterno}}</td>
                 <td>{{e.nombres}}</td>
                             
             </tr>
             {% endfor %}
         </tbody>
     </table>

 </div>
 {% else%}
 <p>NO SE ECONTRARON DATOS PARA ESA COMISION</p>
{% endif %}
{% else%}

<p style="color: rgb(158, 5, 5);"> {{respuesta}}</p>
{% endif %}

</div>

{% endblock %}